doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Detalle Película
  body
    include header.pug
    main
      if movie
        .movie-card-detalle
          h1= movie.Title
          if movie.Poster
            img(src=movie.Poster alt=movie.Title)
          if movie.Year
            p 
              strong Año: 
              | #{movie.Year}
          if movie.Director
            p 
              strong Director: 
              | #{movie.Director}
          if movie.Genre
            p 
              strong Género: 
              | #{movie.Genre}
          if movie.Runtime
            p 
              strong Duración: 
              | #{movie.Runtime}
          if movie.Country
            p 
              strong País: 
              | #{movie.Country}
          if movie.Actors
            p
              strong Actores: 
              | #{movie.Actors}
          if movie.Plot
            p
              strong Sinopsis: 
              | #{movie.Plot}
          if movie.imdbRating
            p
              strong Puntuación: 
              | #{movie.imdbRating}
          button#favoriteButton(data-id=(movie.imdbID || movie._id)) Añadir a favoritos
      else
        p= message

    script(src="/js/script.js")
  include footer.pug