doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Favoritos
    link(rel="stylesheet", href="/css/style.css")

  body
    include header.pug
    main
      h1 Tus Películas Favoritas

      if favorites && favorites.length > 0
        .favorites-container
          each movie in favorites
            .movie-card
              h2= movie.Title
              if movie.Poster
                img(src=movie.Poster, alt=movie.Title)
              p 
                strong Año: 
                | #{movie.Year}
              p 
                strong Director: 
                | #{movie.Director}
              p 
                strong Género: 
                | #{movie.Genre}
              p 
                strong Duración: 
                | #{movie.Runtime}
                
              button#deleteButton(data-id=(movie.imdbID || movie._id)) Eliminar favorito
      else
        p No tienes películas favoritas guardadas aún.


      script(src="/js/script.js")
  include footer.pug
